<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="../ccs/checkout.css">
    
</head>
<body>
    <header>
        <div class="div__header">
            <button class="button__back">
                <a href="../views/detail1.html"><img src="../storage/img/arrow-left.png"></a>
            </button>
            <h1>Checkout</h1>
            <button class="button__menu">
                <img src="../storage/img/menu con flechas.png">
            </button>
        </div>
    </header>
    <main>
        <div class="div__clothe1">
            <img class="clothe1" src="../storage/img/camisapaisaje1.webp">
            <div class="div__info-clothe1">
                <p class="title-clothe1">Modern Light Clothes</p>
                <p class="category-clothe1">T-shirt</p>
                <span class="price-clothe1">$212.99</span>
            </div>
            <div class="div__info2-clothe1">
                <button class="button__settings">
                    <img src="../storage/img/menu con puntos.png">
                </button>
               <div class="div__quantity-clothe1">
                <button class="button__minus">
                    <img src="../storage/img/minus.png">
                </button>
                <input class="input1" type="number" value="4">
                <button class="button__add">
                    <img src="../storage/img/add.png">
                </button>
               </div>
            </div>
        </div>
        <hr>
        <div class="div__clothe2">
            <img class="clothe2" src="../storage/img/vestidoflores.webp">
            <div class="div__info-clothe2">
                <p class="title-clothe2">Elegant modern dress</p>
                <p class="category-clothe2">Dress modern</p>
                <span class="price-clothe2">$162.99</span>
            </div>
            <div class="div__info2-clothe2">
                <button class="button__settings">
                    <img src="../storage/img/menu con puntos.png">
                </button>
               <div class="div__quantity-clothe2">
                <button class="button__minus">
                    <img src="../storage/img/minus.png">
                </button>
                <input class="input1" type="number" value="1">
                <button class="button__add">
                    <img src="../storage/img/add.png">
                </button>
               </div>
            </div>
        </div>
        <hr>
        <div class="shipping-info">
            <p class="title-shopping-info">Shopping Information</p>
            <div class="div__credit-card">
                <img src="../storage/img/VISA_PICT.png">
                <p class="number-credit-card1">**** **** ****</p>
                <p class="number-credit-card2">2143</p>
                <button class="button__options">
                    <img src="../storage/img/arrow-down.png">
                </button>
            </div>
            <div class="div__money">
                <div class="div__names">
                    <p class="items">Total (9 items)</p>
                    <p class="shipping-fee">Shipping Fee</p>
                    <p class="discount">Discount</p>
                </div>
                <div class="div__prices">
                    <p items-price>$1,014.95</p>
                    <p class="shipping-fee-price">$0.00</p>
                    <p class="discount-price">$0.00</p>
                </div>
            </div>
            <hr>
            <div class="div__total">
                <div class="div__subtotal">
                    <p class="subtotal">Sub Total</p>
                </div>
                <div class="div__subtotal-price">
                    <p class="subtotal-price">$1,014.95</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="div__slash">
            <button>
                <a href="#"><p class="text">Pay</p></a>
            </button>
        </div>
    </footer>
   
</body>
</html>