<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../ccs/home.css">
    <link rel="icono" href="../storage/img/nube1.png">
</head>
<body>
    <header>
        <div class="div__welcome">
            <div class="div__info-user">
                <p>Hello, Welcome 👋</p>
                <h1>Nicolas Higuera</h1>
            </div>
            <div class="div__user-img">
                <img src="../storage/img/me.png">
            </div>
        </div>
        <div class="div__search">
            <div class="div__search-input">
                <img src="../storage/img/search-normal.png">
                <input type="text" placeholder="Search clothes. . ." autocomplete="off">
            </div>
            <button class="button__search">
                <a href="../views/home.html"><img src="../storage/img/setting-4.png"></a>
            </button>
        </div>
        <div class="results"></div>
        <script src="../js/home.js"></script>
    </header>
    <nav class="nav__category">
        <div class="nav__category-content">
            <ul>
                <li><a class="on" href="../views/home.html"> <img src="../storage/img/category.png" class="img-on">All Items</a></li>
                <li><a class="off1" href="../views/home-dress.html"><img src="../storage/img/dress.png" class="img-off1">Dress</a></li>
                <li><a class="off2" href="../views/home-t-shirt.html"><img src="../storage/img/shirt.png" class="img-off2">T-Shirt</a></li>
                <li><a class="off3" href="../views/home-pants.html"><img src="../storage/img/jeans.png" class="img-off3">Pants</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>