@import url(/ccs/variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/************* Header *************/


header {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: linear-gradient(to bottom, #B3E5FC, #64B5F6);
}


.header__splash {
text-align: center; 
}




a {

font-family:"Modak"; 
color: white;
font-size: 70px;
text-transform: uppercase;
text-decoration: none;
border: black ;

}


.header__img .img__1 {
width: 8300px; 
max-width: 100%;
}   


@media (max-width: 768px) {
    h1 a {
        font-size: 2rem; 
    }
    .header__img .img__1 {
        max-width: 80px; 
    }
}

@media (max-width: 900px) {
    h1 a {
        font-size: 1.8rem; 
    }
    .header__img .img__1 {
        max-width: 250px;
    }
}


@media (min-width: 1200px) {
    h1 a {
            font-size: 200px; 
        }
    .header__img .img__1 {
            max-width: 400px;
        }
}